.course-img {
  width: 310px;
  height: 400px;
}

@media screen and (min-width: 600px) {
  .course-img {
    width: 50%;
    height: 230px;
  }
  .single-course {
    width: fit-content;
  }
}
@media screen and (max-width: 450px) {
  .single-course {
    width: 300px;
  }
  .course-img {
    width: 210px;
    height: 400px;
  }
}
